<!-- type = 1 -> tour des loup graou
type = 2 -> les vilageois doivent éliminier quelqu'un -->

<div class="w-full flex items-center justify-center h-14">
    <span class="w-full">
    <div class="flex w-full" *ngIf="isBotOnly">
        <div class="bg-dark-1 p-4 w-full text-2xl rounded-2xl text-white h-full text-center">
            {{ texte }}
        </div>
    </div>
    <div class="flex w-full" *ngIf="!isBotOnly">
        <input class="bg-dark-1 p-7 w-full rounded-l-2xl h-full" type="text" [placeholder]="placeholder" (input)="onInputChange($event)">
        <div (click)="sendMessage()" class=" p-7 hover:opacity-65 cursor-pointer h-full rounded-r-2xl bg-primary w-1/12 flex justify-center items-center">
            <fa-icon [icon]="send" class="fa-xl"></fa-icon>
        </div>
    </div>
    </span>
</div>
