app-input-number {
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}

fa-icon {
    filter: drop-shadow(0 0 0.75rem black);
    top: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}