/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Doktor';
    src: url('assets/fonts/doktor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

$dark-bg: #011C27;
$dark-1: #0E223A;
$primary: #D90429;
$white: #F5F0F6;
$black: #000000;
$dark-2: #03254E;

$font-title: 'Doktor', sans-serif;
$font-body: 'Inter', sans-serif;

:root {
  --blend-mode: overlay;
}

* {
  transition: all 0.3s ease-in-out;
}

html, body {
  font-family: $font-body;
  background-color: $dark-bg;
  background-image: url('assets/images/bg.png');
  background-blend-mode: var(--blend-mode);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.rounded-16 {
  border-radius: 56px;
}

.font-horror {
  font-family: $font-title;
}

.text-10xl {
  font-size: 12rem;
}